// variaveis 

$corPrincipal: #eee;
$corSecundaria: #111;


body {
    background-color: $corPrincipal;
}

header {
    background-color: $corPrincipal;

    h1 {
        color: $corSecundaria   ;
    }
}

//mesmo código de cima porem como o scss aceita, bem mais fácil de entender
// header h1 {
//     color: red;
// }

button {
    padding: 16px;
    background-color: $corSecundaria;
    color: $corPrincipal;

    &:hover {
        background-color: yellow;
        color: $corSecundaria;
    }
}

//formato de colocar hover nas tags pelo scss